In [ ]:
# Assignment 3
# Q1 Create a dataset as follow in the table.

dataSet = {
    "Tid":[1,2,3,4,5,6,7,8,9,10],
    "Refund":["Yes","No","No","Yes","No","No","Yes","No","No","No"],
    "Marital Status":["Single","Married","Single","Married","Divorced","Married","Divorced","Single","Married","Single"],
    "Taxable Income (K)": [125,100,70,120,95,60,220,85,75,90],
    "Cheat": ["No","No","No","No","Yes","No","No","Yes","No","Yes"]
}

In [ ]:
# Q2 From the above table that you have created, locate row 0, 4, 7 and 8 using DataFrame

import pandas as pd

dataSet = {
    "Tid":[1,2,3,4,5,6,7,8,9,10],
    "Refund":["Yes","No","No","Yes","No","No","Yes","No","No","No"],
    "Marital Status":["Single","Married","Single","Married","Divorced","Married","Divorced","Single","Married","Single"],
    "Taxable Income (K)": [125,100,70,120,95,60,220,85,75,90],
    "Cheat": ["No","No","No","No","Yes","No","No","Yes","No","Yes"]
}

myDataFrame = pd.DataFrame(dataSet)
print(myDataFrame)
print()
print(myDataFrame.iloc[0])
print()
print(myDataFrame.iloc[4])
print()
print(myDataFrame.iloc[7])
print()
print(myDataFrame.iloc[8])

   Tid Refund Marital Status  Taxable Income (K) Cheat
0    1    Yes         Single                 125    No
1    2     No        Married                 100    No
2    3     No         Single                  70    No
3    4    Yes        Married                 120    No
4    5     No       Divorced                  95   Yes
5    6     No        Married                  60    No
6    7    Yes       Divorced                 220    No
7    8     No         Single                  85   Yes
8    9     No        Married                  75    No
9   10     No         Single                  90   Yes

Tid                        1
Refund                   Yes
Marital Status        Single
Taxable Income (K)       125
Cheat                     No
Name: 0, dtype: object

Tid                          5
Refund                      No
Marital Status        Divorced
Taxable Income (K)          95
Cheat                      Yes
Name: 4, dtype: object

Tid                        8
Refund                    No
Marital Status        Single
Taxable Income (K)        85
Cheat                    Yes
Name: 7, dtype: object

Tid                         9
Refund                     No
Marital Status        Married
Taxable Income (K)         75
Cheat                      No
Name: 8, dtype: object

In [ ]:
# Q.3 Navigate the DataFrame and do the following task for the table created in question 1:
# 1.	Select row from index 3 to 7.
# 2.	Select row from index 4 to 8, and column 2 to 4.
# 3.	Select all rows with column index 1 to 3 (include index 3 during selection).

import pandas as pd

dataSet = {
    "Tid":[1,2,3,4,5,6,7,8,9,10],
    "Refund":["Yes","No","No","Yes","No","No","Yes","No","No","No"],
    "Marital Status":["Single","Married","Single","Married","Divorced","Married","Divorced","Single","Married","Single"],
    "Taxable Income (K)": [125,100,70,120,95,60,220,85,75,90],
    "Cheat": ["No","No","No","No","Yes","No","No","Yes","No","Yes"]
}

myDataFrame = pd.DataFrame(dataSet)

myDataFrame.iloc[3:8]

myDataFrame.iloc[4:9,2:5]

# Q.3 Navigate the DataFrame and do the following task for the table created in question 1:
# 1.	Select row from index 3 to 7.
# 2.	Select row from index 4 to 8, and column 2 to 4.
# 3.	Select all rows with column index 1 to 3 (include index 3 during selection).

import pandas as pd

dataSet = {
    "Tid":[1,2,3,4,5,6,7,8,9,10],
    "Refund":["Yes","No","No","Yes","No","No","Yes","No","No","No"],
    "Marital Status":["Single","Married","Single","Married","Divorced","Married","Divorced","Single","Married","Single"],
    "Taxable Income (K)": [125,100,70,120,95,60,220,85,75,90],
    "Cheat": ["No","No","No","No","Yes","No","No","Yes","No","Yes"]
}

myDataFrame = pd.DataFrame(dataSet)

myDataFrame.iloc[3:8]

myDataFrame.iloc[4:9,2:5]

myDataFrame.iloc[:,1:4]

!pip install opendatasets

!pip install pandas

import opendatasets as od
import pandas as pd

import opendatasets as od
import pandas as pd

od.download("https://www.kaggle.com/datasets/uciml/iris")

Requirement already satisfied: opendatasets in /usr/local/lib/python3.11/dist-packages (0.1.22)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from opendatasets) (4.67.1)
Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (from opendatasets) (1.6.17)
Requirement already satisfied: click in /usr/local/lib/python3.11/dist-packages (from opendatasets) (8.1.8)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (1.17.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2024.12.14)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2.3.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.11/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->kaggle->opendatasets) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->kaggle->opendatasets) (3.10)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: https://www.kaggle.com/gurshersingh0
Your Kaggle Key:

In [ ]:
# Q.4	Read a csv file and display its first five rows.
import pandas as pd

df = pd.read_csv("./iris/Iris.csv")

df.iloc[0:6]

In [ ]:
# Q.5	From the csv file (uploaded in the Q.4) delete row 4, and delete column 3. Display the result.
import pandas as pd
df = pd.read_csv("./iris/Iris.csv")
df.drop(index=3,inplace=True)
df.drop(columns="PetalLengthCm",inplace=True)
df

from google.colab import files
uploaded = files.upload()

In [ ]:
# Q.6	Create a sample dataset (employees.csv) containing information about employees in a company
import pandas as pd
df = pd.read_csv("EmployeeDetails.csv")

#a)	Shape (number of rows and columns) of the DataFrame.
df.shape

#b)	Summary of the DataFrame that includes the data types and non-null counts for each column.
df.info()

#c)	Generate descriptive statistics.
df.describe()

#d)	Display the first 5 rows and last 3 rows of the dataset.
df.head(5)
df.tail(3)

# e)	Calculate the following statistics from the dataset:
# i.	The average salary of employees.
# ii.	The total bonus paid to all employees.
# iii. The youngest employee's age.
# iv. The highest performance rating

df['Salary '].mean()
df['Bonus '].sum()
df['Age '].min()
df['Rating '].max()


# f)	Sort the DataFrame by the Salary column in descending order.
df.sort_values(by='Salary ', ascending=True, inplace=True)

#g)	Add a new column that categorizes employees based on their performance rating:
# i.	Excellent for ratings >= 4.5
# ii.	Good for ratings >= 4.0 but < 4.5
# iii.	Average for ratings < 4.0

def categorize_performance(rating):
    if rating >= 4.5:
        return 'Excellent'
    elif 4.0 <= rating < 4.5:
        return 'Good'
    else:
        return 'Average'

df['Performance_Category'] = df['Rating '].apply(categorize_performance)

# h)	Identify missing values in the DataFrame. (DOUBT)
nullers = df.isnull().sum()
print(nullers)

# i)	Rename the Employee_ID column to ID.
print(df.columns)
df.rename(columns={'Employee_ID ':"ID"},inplace=True)


#j)	Find all employees who:
# i.	Have more than 5 years of experience.
# ii.	Belong to the IT department.  (DOUBT)

df_v2 = df[(df['Years_of_Experience '] > 5) & (df['Department '] == 'IT')]
df_v2.head(2)

# k)	Modify the dataset by adding a new column, Tax, which deducts 10% of the Salary.
df['Tax'] = df['Salary '] * 0.10


# l)	Save the modified DataFrame (with added columns) to a new CSV file.
df.to_csv('new_data.csv', index=False)